<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DraggingBadge</string>
	<string>Scripts</string>
	<string>Status_header</string>
	<string>insertSage</string>
	<string>FilterPreferences</string>
	<string>LabelIcon0</string>
	<string>moveEndTemplate</string>
	<string>moveNextTemplate</string>
	<string>movePrevTemplate</string>
	<string>moveTopTemplate</string>
	<string>ReplyPreferences</string>
	<string>stopSign</string>
</array>
</plist>
