<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AddBoard</string>
	<string>AddBoard_Pressed</string>
	<string>Action</string>
	<string>Action_Pressed</string>
	<string>BaScLogo</string>
	<string>deleteMail</string>
	<string>DraggingBadge</string>
	<string>Find</string>
	<string>HistoryBack</string>
	<string>HistoryForward</string>
	<string>Scripts</string>
	<string>Spacer</string>
	<string>SplitterHandle</string>
	<string>Status_header</string>
	<string>bathyicon192</string>
	<string>insertSage</string>
	<string>moveEnd</string>
	<string>moveNext</string>
	<string>movePrev</string>
	<string>moveTop</string>
	<string>moveUpdated</string>
</array>
</plist>
