<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cmlf_icon</string>
	<string>EllipsisProxy</string>
	<string>EllipsisMouseOver</string>
	<string>EllipsisMouseDown</string>
	<string>EllipsisUpProxy</string>
	<string>EllipsisUpMouseOver</string>
	<string>EllipsisUpMouseDown</string>
	<string>EllipsisDownProxy</string>
	<string>EllipsisDownMouseOver</string>
	<string>EllipsisDownMouseDown</string>
	<string>Emoticon</string>
	<string>OrderFrontBrowser</string>
	<string>BoardList</string>
	<string>Delete</string>
	<string>ReloadList</string>
	<string>ReloadThread</string>
	<string>AddFavorites</string>
	<string>RemoveFavorites</string>
	<string>ResToThread</string>
	<string>SaveAsDraft</string>
	<string>SendMessage</string>
	<string>beDisabled</string>
	<string>beEnabled</string>
	<string>offline</string>
	<string>online</string>
	<string>Board</string>
	<string>Folder</string>
	<string>SmartBoard</string>
</array>
</plist>
