<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BoardList</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>FavoritesItem</string>
			<key>name</key>
			<string>お気に入り</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BoardItemLarge</string>
			<key>name</key>
			<string>板（大）</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BoardItemLargeSelected</string>
			<key>name</key>
			<string>板（大）選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BoardItem</string>
			<key>name</key>
			<string>板</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BoardItemMedium</string>
			<key>name</key>
			<string>板（中）</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BoardItemMediumSelected</string>
			<key>name</key>
			<string>板（中）選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BoardItemSelected</string>
			<key>name</key>
			<string>板 選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>CategoryItem</string>
			<key>name</key>
			<string>カテゴリ</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>CategoryItemLarge</string>
			<key>name</key>
			<string>カテゴリ（大）</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>CategoryItemLargeSelected</string>
			<key>name</key>
			<string>カテゴリ（大）選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>CategoryItemMedium</string>
			<key>name</key>
			<string>カテゴリ（中）</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>CategoryItemMediumSelected</string>
			<key>name</key>
			<string>カテゴリ（中）選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>CategoryItemSelected</string>
			<key>name</key>
			<string>カテゴリ選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>FavoritesItemLarge</string>
			<key>name</key>
			<string>お気に入り（大）</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>FavoritesItemLargeSelected</string>
			<key>name</key>
			<string>お気に入り（大）選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>FavoritesItemMedium</string>
			<key>name</key>
			<string>お気に入り（中）</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>FavoritesItemMediumSelected</string>
			<key>name</key>
			<string>お気に入り（中）選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>FavoritesItemSelected</string>
			<key>name</key>
			<string>お気に入り選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SmartBoardItem</string>
			<key>name</key>
			<string>スマート掲示板</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SmartBoardItemLarge</string>
			<key>name</key>
			<string>スマート掲示板（大）</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SmartBoardItemLargeSelected</string>
			<key>name</key>
			<string>スマート掲示板（大）選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SmartBoardItemMedium</string>
			<key>name</key>
			<string>スマート掲示板（中）</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SmartBoardItemMediumSelected</string>
			<key>name</key>
			<string>スマート掲示板（中）選択</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SmartBoardItemSelected</string>
			<key>name</key>
			<string>スマート掲示板選択</string>
		</dict>
	</array>
	<key>Reply</key>
	<array/>
	<key>Thread</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>age</string>
			<key>name</key>
			<string>age</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>sage</string>
			<key>name</key>
			<string>sage</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>mailAttachment</string>
			<key>name</key>
			<string>メール欄</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>lastUpdatedHeader</string>
			<key>name</key>
			<string>新着</string>
		</dict>
	</array>
	<key>ThreadList</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>Status_logcached</string>
			<key>name</key>
			<string>新着なし</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Status_updated</string>
			<key>name</key>
			<string>新着あり</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Status_newThread</string>
			<key>name</key>
			<string>新スレッド</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Status_HeadModified</string>
			<key>name</key>
			<string>微小変異</string>
		</dict>
	</array>
	<key>Toolbar</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>AddFavoritesTemplate</string>
			<key>name</key>
			<string>お気に入りに追加</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ComposeTemplate</string>
			<key>name</key>
			<string>書き込み</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>DeleteTemplate</string>
			<key>name</key>
			<string>削除</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>LiveThreadsModeTemplate</string>
			<key>name</key>
			<string>スレッド一覧に切り替え</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>LocalRulesTemplate</string>
			<key>name</key>
			<string>ローカルルール</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>NewThreadTemplate</string>
			<key>name</key>
			<string>新規スレッド</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>OrderFrontBrowserTemplate</string>
			<key>name</key>
			<string>ブラウザを最前面に</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ReloadListTemplate</string>
			<key>name</key>
			<string>スレッドの更新</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ReloadThreadTemplate</string>
			<key>name</key>
			<string>一覧の更新</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>RemoveFavoritesTemplate</string>
			<key>name</key>
			<string>お気に入りから削除</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SendMessageTemplate</string>
			<key>name</key>
			<string>送信</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>StopTemplate</string>
			<key>name</key>
			<string>停止</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>StoredLogFilesModeTemplate</string>
			<key>name</key>
			<string>ログモード</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ThreadTitleSearchTemplate</string>
			<key>name</key>
			<string>スレッドタイトル検索</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ThunderTemplate</string>
			<key>name</key>
			<string>オン／オフライン</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ToggleBoardsListTemplate</string>
			<key>name</key>
			<string>掲示板リスト</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ToggleFontPanelTemplate</string>
			<key>name</key>
			<string>フォント</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>UseBeTemplate</string>
			<key>name</key>
			<string>Be有効／無効</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BrowserHSplitTemplate</string>
			<key>name</key>
			<string>3ペイン(左右に分割)</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BrowserNSplitTemplate</string>
			<key>name</key>
			<string>2ペイン</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BrowserVSplitTemplate</string>
			<key>name</key>
			<string>3ペイン(上下に分割)</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>FontBiggerTemplate</string>
			<key>name</key>
			<string>文字を拡大</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>FontSmallerTemplate</string>
			<key>name</key>
			<string>文字を縮小</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ToggleFontPanelTemplate</string>
			<key>name</key>
			<string>フォント</string>
		</dict>
	</array>
</dict>
</plist>
