<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BoardList</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>Board</string>
			<key>name</key>
			<string>板</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>FavoritesItem</string>
			<key>name</key>
			<string>お気に入り</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Folder</string>
			<key>name</key>
			<string>フォルダ</string>
		</dict>
	</array>
	<key>Reply</key>
	<array/>
	<key>Thread</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>age</string>
			<key>name</key>
			<string>age</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>sage</string>
			<key>name</key>
			<string>sage</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>mailAttachment</string>
			<key>name</key>
			<string>メール欄</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>lastUpdatedHeader</string>
			<key>name</key>
			<string>新着</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisProxy</string>
			<key>name</key>
			<string>省略 -通常-</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisMouseOver</string>
			<key>name</key>
			<string>省略 -マウスオーバー-</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisMouseDown</string>
			<key>name</key>
			<string>省略 -マウスダウン-</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisUpProxy</string>
			<key>name</key>
			<string>省略上矢印 -通常-</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisUpMouseOver</string>
			<key>name</key>
			<string>省略上矢印 -マウスオーバー-</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisUpMouseDown</string>
			<key>name</key>
			<string>省略上矢印 -マウスダウン-</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisDownProxy</string>
			<key>name</key>
			<string>省略下矢印 -通常-</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisDownMouseOver</string>
			<key>name</key>
			<string>省略下矢印 -マウスオーバー-</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>EllipsisDownMouseDown</string>
			<key>name</key>
			<string>省略下矢印 -マウスダウン-</string>
		</dict>
	</array>
	<key>ThreadList</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>Status_logcached</string>
			<key>name</key>
			<string>新着なし</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Status_updated</string>
			<key>name</key>
			<string>新着あり</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Status_newThread</string>
			<key>name</key>
			<string>新スレッド</string>
		</dict>
	</array>
	<key>Toolbar</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>OrderFrontBrowser</string>
			<key>name</key>
			<string>ブラウザを最前面に</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>BoardList</string>
			<key>name</key>
			<string>掲示板リスト</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Delete</string>
			<key>name</key>
			<string>削除</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ReloadList</string>
			<key>name</key>
			<string>スレッドの更新</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ReloadThread</string>
			<key>name</key>
			<string>一覧の更新</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>AddFavorites</string>
			<key>name</key>
			<string>お気に入りに追加</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>RemoveFavorites</string>
			<key>name</key>
			<string>お気に入りから削除</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ResToThread</string>
			<key>name</key>
			<string>書き込み</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SaveAsDraft</string>
			<key>name</key>
			<string>下書きとして保存</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>SendMessage</string>
			<key>name</key>
			<string>送信</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>beDisabled</string>
			<key>name</key>
			<string>Be ログアウト中</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>beEnabled</string>
			<key>name</key>
			<string>Be ログイン中</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>cmlf_icon</string>
			<key>name</key>
			<string>CMLogFinder</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>offline</string>
			<key>name</key>
			<string>オンライン</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>online</string>
			<key>name</key>
			<string>オフライン</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>stopSign</string>
			<key>name</key>
			<string>停止</string>
		</dict>
	</array>
</dict>
</plist>
